body {
    background-color: black;
}

.btn {
    height: 10vh;
    width: auto;
    display: block;
    margin: 0 auto;
}

.bulb {
    height: 70vh;
    width: auto;
    display: block;
    margin: 0 auto;
}